# Ignore node_modules directory
node_modules/

# Ignore build directories
client/dist/
server/dist/

# Ignore environment files
.env
client/.env

# Ignore server bundle file if it's generated
server/server.js

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
